* {
    margin: 0;
}

h1 {
    width: fit-content;
    margin: 30px 60px;
}
h2 {
    width: fit-content;
}
p {
    width: fit-content;
}
.item{
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
}
img {
    width: 190px;
    border-radius: 5px;
}
.price {
    float: left;
}
.clearFix {
    clear: both;
}
.color {
    color: gray;
}
.oldPrice{
    font-size: 14px;
    color: red;
    text-decoration:line-through;
    width: fit-content;
    margin-left: 10px;
    margin-top: 10px;
}
.newPrice{
    font-size: 17px;
    color: green;
    width: fit-content;
}
.productName{
    font-size: 18px;
    font-weight: bold;
}
.products {
    width: 100%;
    margin-left: 50px;
}
h2, p, .addToCart {
    margin-top: 8px;
}
.new, .old {
    width: fit-content;
}
.addToCart {
    background-color: rgb(1, 52, 255);
    color: white;
    font-size: 14px;
    border: none;
    border-bottom-left-radius: 5px;
    padding: 10px 25px;
    margin-right: 2px;
}
.heart {
    background-color: white;
    color: rgb(1, 52, 255);
    border: 2px solid rgb(1, 52, 255);
    border-bottom-right-radius: 5px;
    padding: 8px 8px;
}